<body>
<h1>けんけんぷち掲示板</h1>
<div class = "postall">


<% @posts.each do |post| %>

<div class = "created">
 <%= post.created_at %>
 </div>


<div class = "content">
<div class = "content1">
 <%= post.content %>
 </div>
</div>

<% end %>
</div>

<div class = "footerdiv">

<footer>
</footer>
</div>
</body>