// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postall{
  font-family: 'Courier',sans-serif;
}

.content{
  font-size: 18px;
  color: rgb(123, 194, 52);

}

.created{
  color: rgb(88, 94, 78);
}